{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Result Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/RESULTRC.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap" rel="stylesheet">
</head>
<style>
        body{
            background-image: url("{% static 'img/alt1.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            font-family: 'Biryani', sans-serif;
            color: #d7e9f8;
            overflow: hidden;
        }
   </style>

    <form>
  <body>
      <div class="container-fluid">
          <div class="row" style="background-color: #000">
              <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                  <div class="col-lg-3" style=" height: 7vh;">
                      <img src="{% static 'img/RC.jpg' %}" style="width: 6vw; height:7vh; display:flex;align-items: center;justify-content: center;color: white">
                  </div>
                  <div class="col-lg-9" style="padding-top: 1vh;height: 6vh; display: flex; align-items: center; justify-content: center; color: white"><h5>RESULT PAGE</h5></div>
              </div>
              <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;color: white">

              </div>
              <div class="col-lg-5" style=" height: 7vh;">
                  <div class="row">
                      <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">

                      </div>
                      <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">

                      </div>

                      <div class="col-lg-3 mt-1" style="display: flex; justify-content: center;align-items: center;">

                      </div>
                      <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                          <img src="{% static 'img/IEEE_logo.png' %}" style="height: 5vh;">
                      </div>
                  </div>
              </div>
          </div>


    <div class="row" style="height: 86vh;">
      <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-1"></div>
          <div class="col-xl-6" style="background: #EAFAF1; border-style:hidden; border-radius: 1vh; margin-top: 5vh; margin-left:9vw; height: 25vh;background-color: #070707bd;box-shadow: 0 0 4px 1px rgb(2, 2, 2);">
            <h3 class="text-xl-center">RANK</h3>
          </div>
          
        </div>
      </div>

      <div class="col-xl-4">
        <div class="row">
         
          <div class="col-xl-6" style=" border-style:hidden; border-radius: 1vh; margin-top: 5vh; height: 25vh; margin-left:9vw;background-color: #070707bd;box-shadow: 0 0 4px 1px rgb(2, 2, 2);">
            <h3 class="text-xl-center">TEAM NAME</h3>
          </div>
          <div class="col-xl-1"></div>
        </div>
      </div>

      <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6" style=" border-style:hidden; border-radius: 1vh; margin-top: 5vh; margin-right:8vw; height: 25vh;background-color: #070707bd;box-shadow: 0 0 4px 1px rgb(2, 2, 2);">
            <h3 class="text-xl-center">SCORE</h3>
          </div>
          <div class="col-xl-3">
          </div>
        </div>
      </div>


      <table class="table"style="border-style:hidden">
        <thead style="background-color:#070707bd">
          <tr style="border-color: black;">
            <th>RANK</th>
            <th>TEAM NAME</th>
            <th>SCORE</th>
          </tr>
        </thead>
        <tbody style="background-color: #070707a6; border-collapse:collapse;">
          <tr style="border-color: black;">
            <td>John</td>
            <td>Doe</td>
            <td>20</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>30</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>40</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>50</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>60</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="row" style="background-color: #000">
      <div class="col-lg-12" style="font-size: 18px; border: 2px solid black;height:7vh;display: flex;justify-content: center;align-items: center;color: white">
          &copy PICT IEEE STUDENT BRANCH
      </div>
  </div>
  </div>
</body>
</html>
